header h1{
    font-size: 2rem;
    color: rgb(255, 81, 0);
    

}
header p {
  font-size: 1.7rem;
  color:orange;
  background-color: black;
  border-radius:0.5rem;
  margin-right: 0;
  padding:0.5rem;
}
section{
    
}
section h2{

}
.search-box{
    border-radius: 0.5rem;
    color:plum;
    display:flex;
    align-items: center;
}
#search{
    border-radius: 0.5rem;
    padding:0.5rem;
    cursor: pointer;
}
#search-button{
 color: orange;
 width:100%;
}
.recipe-button{

}
.meal{

}
.meal.img h2{
    color: orange;
    padding: 0.5rem;

}